@use '../../../styles.scss' as global;
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    display: flex;
    justify-content: space-between;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0,0,0,0.9290091036414566) 6%, rgba(0,0,0,0.5508578431372548) 65%, rgba(135,196,177,0) 100%);
}
.burger{
    display: none;
}
.nav>*>img {
    width: 70px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo:hover {
    cursor: pointer;
}

.links {
    transform: translateY(5%);
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.links>div {
    width: 25%;
    height: 100%;
    margin: 0;
}

.links>div>a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    text-decoration: none;
    color: global.$text;
    font-weight: bolder;
}

.link > div > a > img {
    width: 50px;
    border-radius: 12px;
}

.links > div > a:hover {
    border-top: 5px aliceblue solid;
    transition: border-top 200ms linear;
    border-radius: 2px;
}

.nav-active{
    border-top: 5px aliceblue solid;
    border-radius: 2px;
}

@media only screen and (max-width: global.$min-width) {
    .burger{
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        user-select: none;
        align-items: center;
        color: global.$text;
        z-index: 53;
        cursor: pointer;
        font-size: 300%;
        padding: 2%;
        width: 20%;
    }
    .links {
        transform: translateY(-100%);
        width: 100%;
        height: 60vh;
        background-color: global.$trans-background;
        position: fixed;
        display: flex;
        flex-direction: column!important;
        align-items: center;
        flex-direction: row;
        z-index: 52;
    }
    .links>div {
        width: 100%;
        height: 40%;
        margin: 0;
    }
    .links > div > a:hover {
        border-top: 0px;
        border-bottom: 0px;
        background-color: global.$active-trans-background;
        transition: background-color 200ms linear;
        border-radius: 2px;
    }
    
    .nav-active{
        border-top: 0px;
        border-bottom: 0px;
        background-color: global.$active-trans-background;
        border-radius: 2px;
    }
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        z-index: 50;
    }
  }