.shopItem{
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 10px;
    align-items: center;
    height: min-content;
    padding: 10%;
    width: 400px;
    justify-content: space-evenly;
}

.shopItem > img{
    height: 100px;
}

.shopItem > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    width: 50%;
}