<div class="tankEditor">
  <div class="separator"></div>
  <label class="switch">
    <input type="checkbox" id="check" checked />
    <span class="slider round"></span>
  </label>
  <div class="tankView">
    <div>
      <img class="tankImg" src="assets/images/tanks/tanky-bot.png" alt="" />
    </div>
  </div>
  <div class="infoView">
    <div class="card">
      <img class="tankImg" src="assets/images/bullet.png" alt="" width="120px" height="80px" />
      <div>
        <h1>Normal</h1>
        <div>Municion: 5</div>
        <div>Rebotes: 1</div>
        <div>Cooldown: 0.2</div>
      </div>
    </div>
    <div class="card">
      <img class="tankImg" src="assets/images/bullet.png" alt="" width="200px" height="40px" />
      <div>
        <h1>Sniper</h1>
        <div>Municion: 5</div>
        <div>Rebotes: 4</div>
        <div>Cooldown: 2</div>
      </div>
    </div>
    <div class="card">
      <img class="tankImg" src="assets/images/bullet.png" alt="" width="80px" height="40px" />
      <div>
        <h1>Sufusil</h1>
        <div>Municion: 10</div>
        <div>Rebotes: 0</div>
        <div>Cooldown: 0.024</div>
      </div>
    </div>
    <div class="card">
      <img class="tankImg" src="assets/images/bullet.png" alt="" width="80px" height="80px" />
      <div>
        <h1>Escopeta</h1>
        <div>Municion: 5</div>
        <div>Rebotes: 0</div>
        <div>Cooldown: 1</div>
      </div>
    </div>
    <div class="card">
      <img class="tankImg" src="assets/images/bullet.png" alt="" width="120px" height="80px" />
      <div>
        <h1>Ráfagas</h1>
        <div>Municion: 6</div>
        <div>Rebotes: 0</div>
        <div>Cooldown: 0.4</div>
      </div>
    </div>
    <div class="card">
      <img class="tankImg" src="assets/images/bullet.png" alt="" width="80px" height="80px" />
      <div>
        <h1>Tortuga</h1>
        <div>Municion: 8</div>
        <div>Rebotes: 0</div>
        <div>Cooldown: 2</div>
      </div>
    </div>
  </div>
</div>