<div class="main">
  <div class="title">
    <img src="/assets/images/title_logo.png" alt="" />
  </div>

  <div class="notes">
    <div class="patch">
      <h1>Release notes: TankToys v0.0.1</h1>
        <br>
      <h2>Features:</h2>

      <ul>
        <li>
          Tank Battles: Engage in epic battles with your friends using
          adorable toy tanks.
        </li>
        <li>
          Map Variety: Explore different environments with unique challenges
          and terrains.
        </li>
        <li>
          Power-ups: Collect power-ups to gain advantages and turn the tide
          of battle.
        </li>
        <li>
          Customization: Personalize your tank with cool skins and
          accessories.
        </li>
      </ul>
      <br>
      <h2>Improvements:</h2>

      <ul>
        <li>Enhanced graphics for a more immersive gaming experience.</li>
        <li>Improved
            matchmaking for smoother and fairer gameplay.</li>
            <li>Tweaked controls for
                better responsiveness.</li>  
      </ul> 
    </div>
  </div>
</div>
