*{
    line-height: 0px;
    box-sizing: border-box;
}


.container{
    overflow: hidden;
    height: 100vh;
}

.map{
    width: 50px;
    height: 50px;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: black;
}

