<div class="loginMain">
  <div id="sign" class="signLogIn container">
      <h1>Connect</h1>
      <asl-google-signin-button type='standard' size='medium'></asl-google-signin-button>
      <div #metamask class="signButton">Connect with Metamask<img src="/assets/images/icons/metamask.svg"></div>
  </div>

  <!-- <div class="container">
    <mat-card>
      <mat-card-content>
        <label for="texto">Username</label>
        <input type="text" #txtUsername name="" id="texto">
        <input type="button" value="jamon" class="clickable">
      </mat-card-content>
    </mat-card>
  </div> -->
</div>
