<div class="loginMain">
  <div id="sign" class="signLogIn container">
      <h1>Sign In</h1>
      <input type="text" placeholder="Username:">
      <input type="text" placeholder="Address:">
      <input type="text" placeholder="Passowrd:">
      <input type="text" placeholder="Repeat password:">

      <div>
          Ya tienes cuenta entonces: 
          <div class="clickable" onclick="hiddenToggle()">Inicia sesion</div>
      </div>
  </div>

  <div id="log" class="signLogIn hide container">
      <h1>Log In</h1>
      <input type="text" placeholder="Address:">
      <input type="text" placeholder="Passowrd:">

      <div>
          No tienes cuenta entonces: 
          <div class="clickable" onclick="hiddenToggle()">Registrate</div>
      </div>
  </div>
</div>
